.jokes-sec{
    background-color:darkslateblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joke{
width: 60%;
max-width: 500px;

}
img{
  
    height: 40px;
}
.containerjoke{
    background-color:white;
   text-align: center;
    
}
p{
    padding: 16px;
}
button{
    margin: 16px;
    width: 180px;
    height: 30px;
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;

}