*{
  padding: 0px;
  margin: 0px;
}
.mojaK{
  background-color: coral;
  width: 100%;
  height: 80vh;
}
.lista{
  width: 100%;
  height: 10vh;
  background-color:burlywood;
  
  
}
ul {
   display: flex;
   justify-content: space-evenly;
   
}
li{
  margin: 20px;
  list-style-type: none;
  /* border: 1px black solid; */
  background-color: chocolate;
  
}
.kartica{
  width: 200px;
  height: 200px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
}