*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 
}
/*
.container{
  background-color: rgb(253, 208, 191);
  width: 100%;
  height: 100vh;
  /* padding-top: 50px; */
  /*display: flex;*/
 /* justify-content: center; */
 /*align-items: center;
 flex-direction: column;
}*/

/* h1{
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 35px;
} 
.form{
 display: flex;
 justify-content: center;
}
.form button{
  background-color: purple;
  border: none;
  padding: 10px 10px;

}
.card{
  display: flex;
 justify-content: center;
 padding-top: 10px;
}

.submit{
  border: none;
  padding: 10px 10px;
  background-color: green;

}
.delete{
  border: none;
  padding: 10px 10px;
  background-color:red;
}
.dugme{
width: 50px;
 margin-left: 20px;
 margin-right: 20px;
}
.nav{
  background-color: lightblue;
  width: 100%;
  height: 10vh;
 
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.content{
  background-color:green;
  width: 100%;
  height: 50vh;
  
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
/* 
domaci rad kalkulator */
/*
:root{
  --primary:#d81e5b;
  --secondary:#8c38ff;
  --dark:black;
  --light:#eee;


}
body{
  background-color: var(--light);
}

.app{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.display{
padding: 16px;
text-align: right;
background-color: var(--dark);
color: var(--light);
font-size: 24px;
font-weight: 300;
}

.display span{
  font-size: 14px;
  color: #888;
}

/* button{
  appearance:none;
  border: none;
  outline:none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
} */
/*
button:hover{
  opacity: 0.9;
}

.operators{
  display: flex;
}

.operators button{
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 33.33333%;
  max-width: 33.33333%;
  background: var(--dark);
}
/* cart domaci */
body{
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
  margin: 0.5rem 0;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1rem;
}
a{
  text-decoration: none;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.block{
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center{
  align-items: center;
}

img.small{
  max-height: 8rem;
}

.inputdiv{
  width: 100%;
  height: 25vh;
  /* border: 1px solid black; */
background-color: coral;
display: flex;
justify-content: center;
align-items: center;

}
input{
  width: 250px;
  height: 30px;
}
.dugme{
  margin: 0px;
  border-radius: 10px;
}
/* fetch primer css */
ul{
 text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
  
   list-style-type: none;
}

li{
  width: 30%;
  height: 300px;
  border: 1px solid black;
  border-radius: 16px;
  background-color:rgb(245, 145, 109);
  padding: 16px;
  margin: 20px; 
}