*{
  padding: 0px;
  margin: 0px;
}
.container{
  background-color: rgb(253, 208, 191);
  width: 100%;
  height: 100vh;
  /* padding-top: 50px; */
  display: flex;
 /* justify-content: center; */
 align-items: center;
 flex-direction: column;
}

h1{
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 35px;
}
.form{
 display: flex;
 justify-content: center;
}
.form button{
  background-color: purple;
  border: none;
  padding: 10px 10px;

}
.card{
  display: flex;
 justify-content: center;
 padding-top: 10px;
}

.submit{
  border: none;
  padding: 10px 10px;
  background-color: green;

}
.delete{
  border: none;
  padding: 10px 10px;
  background-color:red;
}
.dugme{
width: 50px;
 margin-left: 20px;
 margin-right: 20px;
}
.nav{
  background-color: lightblue;
  width: 100%;
  height: 10vh;
 
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.content{
  background-color:green;
  width: 100%;
  height: 50vh;
  
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}